* {
  margin: 0;
  padding: 0;
}

html, body{
  background-color: #dde1f7;
  font-family: "Arial";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05px;
}
body{
  padding: 20px;
}

.section{
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  border: 5px solid #473696;
  max-width: 1024px;
}