* {
  margin: 0;
  padding: 0;
}
html, body{
  background: linear-gradient(60deg, #cbf0e2, #466d5b);
  font-family: "Arial";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05px;
  height: 100%;
}

body{
  padding: 20px;
  
}
a{
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
  
}
li:hover {
  font-size: 18px;
  text-decoration: underline;
 
}
.section{

  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 0px;
  border: 5px solid #365547;
  
  max-width: 90%;
  
}