* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  height: 72.5625rem;
  margin-bottom: 6.8125em;
  background: url(../img/img1.svg) no-repeat right top;
}
.wrapper header {
  margin-bottom: 20%;
}
.wrapper header .navbar-toggler {
  background: #111B47;
  height: 26px;
}
.wrapper header .nav-item {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.71428571;
  color: #505F98;
  margin-right: 3.75rem;
  text-decoration: none;
}
.wrapper header .nav-item:hover {
  color: #091133;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.wrapper header .logo {
  fill: #37447E;
}
.wrapper header .logo:hover {
  fill: #091133;
  transition: all 0.3s ease-in-out;
}
.wrapper header .btn-dark {
  width: 160px;
  height: 26px;
  border: none;
  background: #111B47;
  border-radius: 2px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  color: #FFFFFF;
}
.wrapper header .btn-dark:hover {
  border: 2px solid #091133;
  color: #091133;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  background: none;
  border-radius: 2px;
}
.wrapper .hero h1 {
  font-weight: 500;
  font-size: 3.125rem;
  line-height: 1.32;
  color: #091133;
}
.wrapper .hero p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.66666667;
  color: #505F98;
}
.wrapper .hero .hero-btn .btn-dark {
  border: none;
  background: #111B47;
  border-radius: 2px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  color: #FFFFFF;
  width: 189px;
  height: 36px;
  margin-right: 1.875em;
}
.wrapper .hero .hero-btn .btn-dark:hover {
  border: 2px solid #091133;
  color: #091133;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  background: none;
  border-radius: 2px;
}
.wrapper .hero .hero-btn .btn-light {
  width: 189px;
  height: 36px;
  border: 2px solid #091133;
  color: #091133;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  background: none;
  border-radius: 2px;
}
.wrapper .hero .hero-btn .btn-light:hover {
  border: none;
  background: #111B47;
  border-radius: 2px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  color: #FFFFFF;
}

main .main-text h2 {
  padding-top: 3.1875rem;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.3333333;
  color: #091133;
  margin-bottom: 1rem;
}
main .main-text p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.66666667;
  color: #6F7CB2;
  padding-bottom: 5em;
}
main .main-text .main-boxes {
  display: flex;
  justify-content: space-between;
}
main .main-text .main-boxes .main-box svg {
  margin-bottom: 0.875rem;
}
main .main-text .main-boxes .main-box .main-icon-style {
  fill: #000;
}
main .main-text .main-boxes .main-box h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.66666667;
  color: #091133;
}
main .main-text .main-boxes .main-box p, main .main-text .main-boxes .main-box h3 {
  margin-left: 3%;
}
main .main-text .main-boxes .main-box p {
  font-size: 0.75rem;
  line-height: 1.5;
  color: #5D6970;
}
main .second-bg {
  background: url(../img/img2.png) no-repeat top;
  height: 34rem;
  margin-bottom: 14.4375rem;
}
main .third_bg {
  background: url(../img/img3.svg) no-repeat top;
  height: 23em;
  margin-bottom: 13.875em;
}
main .fourth-bg {
  background: url(../img/img4.svg) no-repeat top left;
  height: 25em;
  margin-bottom: 13.875em;
}
main .fifth-bg {
  background: url(../img/img5.svg) no-repeat top left;
  height: 23em;
  margin-bottom: 10.1875rem;
}
main .last-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .last-box h2 {
  padding-top: 0.75rem;
}
main .last-box p {
  padding-bottom: 2em;
}
main .last-box .btn-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background: #111B47;
  border-radius: 2px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  color: #FFFFFF;
  width: 150px;
  height: 32px;
}
main .last-box .btn-dark:hover {
  border: 2px solid #091133;
  color: #091133;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  background: none;
  border-radius: 2px;
}
main .price {
  width: 100%;
  height: 100%;
  background: url(../img/pre-footer.svg);
  padding-top: 14.8125em;
}
main .price .btn-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background: #111B47;
  border-radius: 2px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  color: #FFFFFF;
  width: 189px;
  height: 32px;
  margin-bottom: 10.75rem;
}
main .price .btn-dark:hover {
  border: 2px solid #091133;
  color: #091133;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  background: none;
  border-radius: 2px;
}
main .price .price-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .price .price-content p {
  text-align: center;
  color: #6F7CB2;
  padding-bottom: 2.1875em;
}
main .price .price-content .price-sum {
  font-weight: 500;
  font-size: 3.125rem;
  line-height: 1.32;
  color: #222F65;
}
main .price .price-content .kit {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.66666667;
  color: #37447E;
  padding-bottom: 3.75em;
}
main .price .price-content .text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.71428571;
  color: #5D6970;
}

footer {
  width: 100%;
  height: auto;
  background: #E7ECFF;
}
footer .footer-info {
  display: flex;
  justify-content: space-between;
  margin: 5em 0 3.5em 0;
}
footer .footer-info span {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.71428571;
  color: #939EA4;
}
footer .logo {
  fill: #37447E;
}
footer .logo:hover {
  fill: #091133;
  transition: all 0.3s ease-in-out;
}
footer .btn-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 26px;
  border: none;
  background: #111B47;
  border-radius: 2px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1.71428571;
}
footer .btn-dark:hover {
  border: 2px solid #091133;
  color: #091133;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  background: none;
  border-radius: 2px;
  font-size: 0.875rem;
  line-height: 1.71428571;
}
footer .footer-line {
  width: 100%;
  height: 0.0625em;
  background: #CDD1D4;
  margin-bottom: 1.25em;
}
footer .footer-nav ul {
  list-style-type: none;
}
footer .footer-nav .footer-flex {
  display: flex;
  justify-content: space-between;
}
footer .footer-nav .footer-flex .nav-items .nav-item {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.71428571;
  color: #929ECC;
  text-decoration: none;
}
footer .footer-nav .footer-flex .nav-items .nav-item:hover {
  color: #091133;
  transition: all 0.2s ease-in-out;
}
footer .footer-nav a {
  text-decoration: none;
}
footer .footer-nav a svg .footer-icon-style:hover {
  fill: #091133;
  transition: all 0.2s ease-in-out;
}

@media all and (max-width: 1224px) {
  .wrapper {
    background: none;
    height: auto;
  }
  .wrapper .hero {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .wrapper .hero .hero-btn .btn {
    width: max-content;
  }

  main {
    text-align: center;
    align-items: center;
  }
  main .main-text {
    width: 100%;
  }
  main .main-text p {
    padding-bottom: 1em;
  }
  main .second-bg {
    margin-bottom: 3rem;
  }
  main .fourth-bg, main .third_bg, main .fifth-bg {
    display: none;
  }

  footer .footer-info {
    display: none;
  }
  footer .footer-line {
    display: none;
  }
  footer .footer-nav {
    padding-top: 1em;
  }
}
@media all and (max-width: 500px) {
  main .second-bg {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
