*{
  margin: 0;
  padding: 0;
}

 



.grid{
  display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-auto-rows: auto;
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    
}
.square{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: gray;
  color: white;
}

.square:nth-child(1n+21){
  background-color: blue;
}

.square:nth-child(4n+3){
  background-color: red;
}

.btn_area{

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  text-transform: uppercase;
  width: 501px;
  height: 92px;
  background: #44D3A8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  border: none;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.btn:hover{
  border: 3px solid #44D3A8;
  background: white;
  color: #44D3A8;
}

.btn_area::before{
  content: "";
  width: 200px;
  height: 8px;
  border: solid 2px #c4c4c4;
  display: inline-block;
  border-left: none;
  border-right: none;
  margin-right: 53px;
   
}
.btn_area::after{
  content: "";
  width: 200px;
  height: 8px;
  border: solid 2px #c4c4c4;
  display: inline-block;
  border-left: none;
  border-right: none;
  margin-left: 53px;
   
}